.wrapper {
    margin-top: 60px;
}

.cardsContainer {
    margin-top: 60px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* Creates 2 columns */
    grid-template-rows: repeat(2, 1fr);
    /* Creates 2 rows */
    gap: 30px;
    /* Optional: Sets the gap between grid items */
    /* Add additional styles as needed, like padding or margin */

}