.tabWrapper {
    border-radius: 0px 10px 0px 0px;
    background: #232323;
    width: 158px;
    height: 50px;

    padding: 14px 42px;

    display: flex;
    justify-content: center;
    align-items: center;
}